:host {
  position: relative;
}

header {
  padding: 24px 48px;
  position: fixed;
  z-index: 1;
  contain: content;

  display: flex;
  flex-direction: column;

  min-width: 100vw;
  min-width: 100dvw;
}


.inline__elements {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20%;

  .logo {
    &>span {
      font: normal bolder 3.125rem Arial, Helvetica, sans-serif;
    }
  }

  div.section__title {
    background-color: black;
    padding: 1rem 4rem;
  }

  div.about__cta {
    text-wrap: nowrap;
  }
}


.navbar {
  position: relative;
  padding-bottom: 7.8%;

  ul>li {
    max-width: min-content;
  }

  ul>li:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }

  @media (hover: hover) {
    li:hover::before {
      content: "";
      position: absolute;
      min-height: 1.3rem;
      left: -50px;
      background-color: black;
      animation: navbar .4s linear forwards;
      -webkit-animation: navbar .4s linear forwards;
    }
  }

}

@-webkit-keyframes navbar {
  to {
    min-width: 2rem;
  }
}

@keyframes navbar {
  to {
    min-width: 2rem;
  }
}

.social__container {
  display: inline;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    padding: 2rem .5rem;
    left: -50px;
    bottom: -20px;
    background-color: black;
  }

  .social__cta {
    font-size: 1.125rem;
    font-weight: bold;
    margin-right: 15%;

    &::after {
      content: "";
      display: inline;
      position: absolute;
      padding-inline: 1.3rem;
      min-height: .3rem;
      left: 150px;
      bottom: 10px;
      background-color: black;
    }
  }

  span.social::after {
    content: "";
    padding: .2rem 1.9rem;
    position: absolute;
    right: -8px;
    bottom: -125%;
    background-color: black;
  }

}

.home_about__cta {
  animation: fadeInWhite .500s linear forwards;
}

.works_about__cta {
  animation: fadeInBlack .500s linear forwards;
}

@keyframes fadeInWhite {
  from {color: black;}
  to {
    color: white;
  }
}

@keyframes fadeInBlack {
  from {color: white;}
  to {color: black;}
}

@media (max-width: 1900px) {
  .social__container>.social__cta {
    margin-right: 5%;

    &::after {
      display: none;
    }
  }

  span.social::after {
    display: none;
  }
}

@media (max-width: 576px) {
  .inline__elements {
    margin-bottom: 1rem;
  }

  .navbar {
    margin-bottom: 1rem;
  }
}