<header class="header">
  
  <div class="inline__elements">
    <div class="logo">
      <span><a routerLink="/">Inova</a></span>
    </div>
    <div class="section__title uppercase font-500">
      <span class="white-text">{{sectionTitle}}</span>
    </div>
    <div class="about__cta uppercase font-500">
      @if (url() === '/home') {
        <a href="#" class="home_about__cta white-text">Click here to learn about us</a>
      } @else {
        <a href="#" class="works_about__cta">Click here to learn about us</a>
      }
    </div>
  </div>
  <div class="block__elements">
    <nav class="navbar">
      <ul>
        <li>
          <a routerLink="works" class="works-item uppercase" id="works">works</a>
        </li>
        <li>
          <a routerLink="/team" class="team-item uppercase" id="team">team</a>
        </li>
        <li>
          <a routerLink="/contact" class="contacts-item uppercase" id="contacts">contact</a>
        </li>
      </ul>
    </nav>

    <div class="social__container">
      <span class="social__cta uppercase">Say hello</span>
      <span class="social"><a href="#">Social</a></span>
    </div>
  </div>
</header>
