<header class="header">
  
  <div class="inline__elements">
    <div class="logo">
      <span>Inova</span>
    </div>
    <div class="section__title uppercase font-500">
      <span class="white-text">{{sectionTitle}}</span>
    </div>
    <div class="about__cta uppercase font-500">
      <a href="#" class="white-text">Click here to learn about us</a>
    </div>
  </div>
  
  <div class="block__elements">
    <nav class="navbar">
      <ul>
        <li>
          <a routerLink="#" class="works-item uppercase" id="works">works</a>
        </li>
        <li>
          <a routerLink="#" class="team-item uppercase" id="team">team</a>
        </li>
        <li>
          <a routerLink="#" class="contacts-item uppercase" id="contacts">contacts</a>
        </li>
      </ul>
    </nav>

    <div class="social__container">
      <span class="social__cta uppercase">Say hello</span>
      <span class="social"><a href="#">Social</a></span>
    </div>
  </div>
</header>
