/* 
*   Kevin Powell
*   https://youtu.be/cCAtD_BAHNw 
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  /* Get rid of all font sizes and heights */
}

html {
  hanging-punctuation: first last;
  /* Not supported in Chrome */
}

body {
  font-family: Poppins, sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  overflow-x: clip;
}

/* Media responsive */
img, picture, svg, video {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
  /* Prevents orphans on lines */
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/*Utility classes */

.uppercase {
  text-transform: uppercase;
}

.white-text {
  color: white;
}

.font-500 {
  font-weight: 500;
}

